.App {
  height: 100vh;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}
.page-container {
  /* width: 1600; */
  width:100%;
  height: 80%;
  min-width: 792px;
  overflow-y: auto;
  overflow-x: auto;
  box-shadow: 0 25px 50px 0 rgba (62, 62, 62, 0.15);
  -webkit-box-shadow: 0 25px 50px 0 rgb(62 62 62 / 15%);
  margin-top: 1rem;
  display:grid;
  place-items:center;
  /* width: 80vw; */
  /* height: 100vh; */
  /* background-color:"red"; */
}
.footer {
  display: flex;
  justify-content: space-between;
  width: 500px;
  margin-top: 1rem;
}
.button-container {
  display: flex;
  gap: 8px;
}
